<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.popupMenus">
      	<objectContribution
            adaptable="true"
            id="cn.nju.seg.atg.contribution1"
            objectClass="org.eclipse.cdt.core.model.IFunctionDeclaration">
         <menu
               icon="icons/java.ico"
               id="cn.nju.seg.atg.plugin.popupmenu"
               label="cn.nju.seg.atg"
               path="additions">
            <separator name="AtgGroup">
            </separator>
         </menu>
         <action
               class="cn.nju.seg.atg.plugin.AtgAction"
               enablesFor="1"
               icon="icons/coffee.ico"
               id="cn.nju.seg.atg.plugin.popupmenu.atg"
               label="Generate Test Data"
               menubarPath="cn.nju.seg.atg.plugin.popupmenu/AtgGroup">
         </action>
         <action
               class="cn.nju.seg.atg.plugin.CfgAction"
               enablesFor="1"
               icon="icons/coffee.ico"
               id="cn.nju.seg.atg.plugin.popupmenu.cfg"
               label="Show Ctrl Flow Graph"
               menubarPath="cn.nju.seg.atg.plugin.popupmenu/AtgGroup">
         </action>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.editors.annotationTypes">
	   <type
	         markerSeverity="2"
	         markerType="org.eclipse.core.resources.problemmarker"
	         name="cn.nju.seg.atg.TextEditor.AtgNode"
	         super="org.eclipse.ui.workbench.texteditor.info">
	   </type>
	</extension>
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"> 
	   <specification
	         annotationType="cn.nju.seg.atg.TextEditor.AtgNode"
	         colorPreferenceKey="hostColorKey"
	         colorPreferenceValue="51,153, 204"
	         contributesToHeader="true"
	         highlightPreferenceKey="hostHightlightKey"
	         highlightPreferenceValue="true"
	         icon="icons/node.gif"
	         includeOnPreferencePage="true"
	         isGoToNextNavigationTarget="true"
	         isGoToNextNavigationTargetKey="Host_isOccurrenceGoToNextNavigationTarget"
	         isGoToPreviousNavigationTarget="true"
	         isGoToPreviousNavigationTargetKey="Host_isOccurrenceGoToPreviousNavigationTarget"
	         label="HOST"
	         overviewRulerPreferenceKey="hostOverviewKey"
	         overviewRulerPreferenceValue="true"
	         presentationLayer="4"
	         quickFixIcon="icons/node.gif"
	         showInNextPrevDropdownToolbarAction="true"
	         showInNextPrevDropdownToolbarActionKey="Host_showOccurrenceInNextPrevDropdownToolbarAction"
	         symbolicIcon="info"
	         textPreferenceKey="hostTextKey"
	         textPreferenceValue="true"
	         textStylePreferenceKey="occurrenceTextStyle"
	         textStylePreferenceValue="NONE"
	         verticalRulerPreferenceKey="hostVerticalKey"
	         verticalRulerPreferenceValue="true">
	   </specification>
	</extension>
	
	 <extension
	       point="org.eclipse.ui.editors">
	    <editor
	          class="cn.nju.seg.atg.plugin.CfgCEditor"
	          default="false"
	          extensions="cfcpp"
	          icon="icons/sample.gif"
	          id="cn.nju.seg.atg.plugin.cfgceditor"
	          name="cfgceditor">
	    </editor>
	 </extension>
	 
   <extension
         point="org.eclipse.ui.views">
	      <category
	            name="ATG"
	            id="ATG">
	      </category>
	      <view
	            name="ATG View"
	            icon="icons/sample.gif"
	            category="ATG"
	            class="cn.nju.seg.atg.plugin.AtgView"
	            id="cn.nju.seg.atg.plugin.AtgView">
	      </view>
   </extension>   
   
   
   
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Atg Cmd Category"
            id="cn.nju.seg.atg.commands.category">
      </category>
      <command
            name="Atg Run"
            categoryId="cn.nju.seg.atg.commands.category"
            id="cn.nju.seg.atg.commands.run">
      </command>
      <command
            name="Atg Stop"
            categoryId="cn.nju.seg.atg.commands.category"
            id="cn.nju.seg.atg.commands.stop">
      </command>
      <command
            name="Empty Annatations"
            categoryId="cn.nju.seg.atg.commands.category"
            id="cn.nju.seg.atg.commands.emptyann">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="cn.nju.seg.atg.commands.run"
            class="cn.nju.seg.atg.plugin.AtgRunHandler">
	      <activeWhen>
	      	<with variable="activeEditorId">
	      		<equals value="cn.nju.seg.atg.plugin.cfgceditor" />
	      	</with>
	      </activeWhen>
      </handler>
      <handler
            commandId="cn.nju.seg.atg.commands.stop"
            class="cn.nju.seg.atg.plugin.AtgStopHandler">
	      <activeWhen>
	      	<with variable="activeEditorId">
	      		<equals value="cn.nju.seg.atg.plugin.cfgceditor" />
	      	</with>
	      </activeWhen>
      </handler>
      <handler
            commandId="cn.nju.seg.atg.commands.emptyann"
            class="cn.nju.seg.atg.plugin.ClearAnnHandler">
	      <activeWhen>
	      	<with variable="activeEditorId">
	      		<equals value="cn.nju.seg.atg.plugin.cfgceditor" />
	      	</with>
	      </activeWhen>
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.nju.seg.atg.commands.stop"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.nju.seg.atg.commands.run"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="A&amp;tg"
               mnemonic="T"
               id="cn.nju.seg.atg.menus">
            <command
                  commandId="cn.nju.seg.atg.commands.run"
                  mnemonic="R"
                  id="cn.nju.seg.atg.menus.run">
            </command>
            <command
                  commandId="cn.nju.seg.atg.commands.stop"
                  mnemonic="S"
                  id="cn.nju.seg.atg.menus.stop">
            </command>
            <command
                  commandId="cn.nju.seg.atg.commands.emptyann"
                  mnemonic="E"
                  id="cn.nju.seg.atg.menus.stop">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="cn.nju.seg.atg.toolbars">
            <command
                  commandId="cn.nju.seg.atg.commands.run"
                  icon="icons/run.png"
                  tooltip="Run Atg"
                  id="cn.nju.seg.atg.toolbars.run">
            </command>
            <command
                  commandId="cn.nju.seg.atg.commands.stop"
                  icon="icons/stop.png"
                  tooltip="Stop Atg"
                  id="cn.nju.seg.atg.toolbars.stop">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Atg"
            class="cn.nju.seg.atg.plugin.AtgPreferencePage"
            id="cn.nju.seg.atg.plugin.AtgPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="cn.nju.seg.atg.plugin.AtgPreferenceInitializer">
      </initializer>
   </extension>
   
   
</plugin>





